[Desktop Entry]
Name=GIGIdesk
NoDisplay=true
MimeType=x-scheme-handler/gigidesk;
TryExec=gigidesk
Exec=gigidesk %u
Icon=gigidesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
